.aboutContainer{
    background-color: white;
    width: 100%;
    height: 800px;
}

.aboutTitle{
    padding-top: 100px;
    padding-left: 90px;
    width: 100%;
    height:404px;
}

.figure{
    display: flex;
    justify-content: center;
    background-color: rgb(196,192,227);
    width: 100%;
    height: 497px;
    background-size: cover;
    border-color: white;
}

.line0{
    font-size: 40px;
}

.line1{
    padding-top: 60px;
    font-size: 16px;
}

.line2,.line3{
    font-size: 15px;
}